@model IEnumerable<BnHomeAllocationApp.Models.ResidenceBuilding>

@{
    ViewData["Title"] = "Index";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
}

@section Sole {
    <link href="~/css/datatable-table-responsive.css" rel="stylesheet" />
    <style>
        table thead th:last-child {
            width: 150px;
        }

        .table td, .table th {
            padding: .7rem;
        }

        .card, .footer {
            display: none;
        }
    </style>
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 d-inline-block mb-0">Residence Buildings</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Residence Buildings</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Create">New</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card animated fadeIn">
                <div class="card-header">
                    <h3 class="mb-0">Residence Buildings</h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table align-items-center table-hover table-striped table-bordered" id="datatable-basic2">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ResidenceZone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BuildingType)
                                    </th>
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ResidenceZone.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BuildingType.Name)
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/vendor/datatables.net/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-select/js/dataTables.select.min.js" asp-append-version="true"></script>
    <script>
        var e = $("#datatable-basic2");
        e.length && e.on("init.dt", function () {
            $("div.dataTables_length select").removeClass("custom-select custom-select-sm");
            $(".dt-buttons .btn.buttons-copy").removeClass("btn-secondary").addClass("btn-sm btn-primary");
            $(".dt-buttons .btn.buttons-csv").removeClass("btn-secondary").addClass("btn-sm btn-default");
            $(".dt-buttons .btn.buttons-print").removeClass("btn-secondary").addClass("btn-sm btn-default")
        }).DataTable({
            dom: "<'row before-table-responsive'<'col-sm-12 col-md-6'B<'d-inline-flex'l>><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-md-6'><'col-md-6'>>" +
                "<'row'<'col-md-12't>><'row after-table-responsive'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            keys: !0,
            responsive: true,
            order: [],
            language: {
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>",
                }
            },
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            autoWidth: false,
            columnDefs: [
                { "searchable": false, "targets": [-1,] },
                { "orderable": false, "targets": [-1,] },
            ],
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'copy',
                    title: '',
                    exportOptions: {
                        columns: ':visible:not(:last-child)'
                    }

                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible:not(:last-child)'
                    }

                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible:not(:last-child)'
                    }

                }
            ],
        })
        $(document).ready(function () {
            setTimeout(showDiv, 200);
            $('.before-table-responsive').insertBefore('.table-responsive').addClass('dt-altered2 pt-4 ml-0 mr-0');
            $('.after-table-responsive').insertAfter('.table-responsive').addClass('dt-altered pb-4');
        })
        function showDiv() {
            $('.card, .footer').css('display', 'block');
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}